streamlit
pandas
python-dotenv

groq

langchain==0.3.12
langchain-community==0.3.12
langchain-core==0.3.28
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.3
numpy==1.26.4
scipy==1.11.4
scikit-learn==1.5.2
sentence-transformers==3.3.1
transformers==4.46.3
tokenizers==0.20.3
sentence-transformers
transformers
torch
sentencepiece
accelerate

faiss-cpu
pypdf