# Virtual environment
.venv/
venv/

# Secrets
.env
.streamlit/secrets.toml

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Large dataset
data/court_data.csv

# Logs
*.log

