streamlit
langchain==0.3.12
langchain-community==0.3.12
langchain-core==0.3.28
langchain-huggingface
langchain-text-splitters
faiss-cpu
pypdf
python-dotenv
sentence-transformers
transformers
torch
accelerate
openai
groq